! --- ~/.Xresources ------------------------------------------------------------
! ------------------------------------------------------------------------------
! --- generated with 4bit Terminal Color Scheme Designer -----------------------
! ------------------------------------------------------------------------------
! --- http://ciembor.github.com/4bit -------------------------------------------
! ------------------------------------------------------------------------------

! --- special colors ---

*background: #0d1926
*foreground: #d9e6f2

! --- standard colors ---

! black
*color0: #000000

! bright_black
*color8: #282828

! red
*color1: #d22d2d

! bright_red
*color9: #e68c8c

! green
*color2: #2dd22d

! bright_green
*color10: #8ce68c

! yellow
*color3: #d2d22d

! bright_yellow
*color11: #e6e68c

! blue
*color4: #2d2dd2

! bright_blue
*color12: #8c8ce6

! magenta
*color5: #d22dd2

! bright_magenta
*color13: #e68ce6

! cyan
*color6: #2dd2d2

! bright_cyan
*color14: #8ce6e6

! white
*color7: #d9d9d9

! bright_white
*color15: #ffffff


! ------------------------------------------------------------------------------
! --- end of terminal colors section -------------------------------------------
! ------------------------------------------------------------------------------

! ---- copy/paste functionality for urxvt

URxvt.keysym.Shift-Control-V: perl:clipboard:paste

URxvt.iso14755: False

URxvt.perl-ext-common: default,clipboard,tabbed

Rxvt.font: 9x15
